/* 使用 data-theme 切换 :root 变量 */
:root[data-theme='light'] {
  --bg-color: #fff;
  --bg-color-view: #f1f3f6;
  --text-color: #000;
  --text-color-gray: #71717a;
  --text-color-dark-gray: #333;
  --text-color-icon: #323639cc;
  --bg-btn-hover: hsl(240deg 5% 96%);
  --border-color: hsl(240deg 5.9% 90%);
  --bg-table-row-odd: #fafafa;
  --bg-table-row-even: #fff;
  --shadow: 0 0 6px rgb(0, 0, 0, 0.03);
}

:root[data-theme='dark'] {
  --bg-color: #040404;
  --bg-color-view: #14161a;
  --text-color: #eee;
  --text-color-gray: #a1a1aa;
  --text-color-dark-gray: #fff;
  --text-color-icon: #a1a1aa;
  --bg-btn-hover: hsl(216deg 5% 19%);
  --border-color: hsl(240deg 3.7% 22%);
  --bg-table-row-odd: #040404;
  --bg-table-row-even: #1d1d1d;
  --shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.03), 0 1px 6px -1px rgb(0, 0, 0, 0.02), 0 2px 4px 0 rgb(0, 0, 0, 0.02);
}

/* 苹方-简 极细体 */
@font-face {
  font-family: 'PingFangSC-Ultralight-woff2';
  src: url('../font/PingFangSC-Ultralight.woff2') format('woff2');
}

/* 苹方-简 纤细体 */
@font-face {
  font-family: 'PingFangSC-Thin-woff2';
  src: url('../font/PingFangSC-Thin.woff2') format('woff2');
}

/* 苹方-简 细体 */
@font-face {
  font-family: 'PingFangSC-Light-woff2';
  src: url('../font/PingFangSC-Light.woff2') format('woff2');
}

/* 苹方-简 常规体 */
@font-face {
  font-family: 'PingFangSC-Regular-woff2';
  src: url('../font/PingFangSC-Regular.woff2') format('woff2');
}

/* 苹方-简 中黑体 */
@font-face {
  font-family: 'PingFangSC-Medium-woff2';
  src: url('../font/PingFangSC-Medium.woff2') format('woff2');
}

/* 苹方-简 中粗体 */
@font-face {
  font-family: 'PingFangSC-Semibold-woff2';
  src: url('../font/PingFangSC-Semibold.woff2') format('woff2');
}
