.logo {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-right: 1px solid var(--border-color);
}
