.md-editor, [class^="ant-"], [class*=" ant-btn"] {
  font-family: "LXGW WenKai Screen R", sans-serif !important;
}

.github-theme {
  line-height: 1.9 !important;
}

.user-info-moment-popover {
  filter: drop-shadow(var(--youyu-shadow1));

  .ant-popover-content {
    border-radius: 4px;
  }

  .ant-popover-inner {
    padding: 0 !important;
  }
}

.ant-pagination {
  li {
    border-radius: 4px !important;

    &.ant-pagination-next, &.ant-pagination-prev {
      padding: 0 !important;
    }
  }
}

.top_modal {
  z-index: 999999 !important;
}
