:root[theme='dark'] {
  // globe
  --youyu-body-background: rgba(26, 26, 26, 0.8);
  --youyu-body-text: #fff;

  // navigation
  --youyu-navigation: rgba(0, 0, 0, 0.95);
  --youyu-navigation-border: 1px solid #282828;

  // login
  --youyu-login-background: #1a1a1a;
  --youyu-login-color: #fff;

  //theme-switch
  --theme-switch-border:1px solid rgba(84, 84, 84, 0.65);

  // article
  --article-background: rgba(58,58,58,0.58);
  --article-border: 1px solid #f1f1f1;
  --article-info-color: #F2F2F5;
}
