:root[theme='dark'] {
  --youyu-background1: #000000;
  --youyu-background2: #2a2a2a;
  --youyu-background3: #212121;
  --youyu-background4: #1f1f1f;
  --youyu-background5: #343434;
  --bg-gradient: 0, 0, 0;

  --youyu-text: #ffffff;
  --youyu-text1: #F2F2F5;
  --youyu-text2: #ffffff;
  --youyu-text3: #e3e3e3;
  --youyu-text4: #000000;

  /*globe*/
  --youyu-body-background: rgba(26, 26, 26, 0.8);
  --youyu-body-background1: rgba(58, 58, 58, 0.58);
  --youyu-body-background2: #141414;
  --youyu-body-background3: rgba(0, 0, 0, 0.85);
  --youyu-body-background-ligth: rgb(45, 45, 45);
  --youyu-body-background-4: #ffffff14;
  --youyu-body-background-5: #202323;
  --youyu-body-background5: rgba(47, 47, 47, 0.8);

  --youyu-body-text: #fff;
  --youyu-body-text1: #F2F2F5;
  --youyu-body-text2: #fff;
  --youyu-border-color: #242424;
  --youyu-border-color2: #4b4b4b;
  --youyu-border-color3: #3f3f3f;
  --youyu-border-color4: #d7d7d7;
  --youyu-border: 1px solid #282828;
  --youyu-border2: 1px solid #4b4b4b;
  --primary-color: #1890ff;

  /*navigation*/
  --youyu-header-background: rgba(0, 0, 0, 0.8);
  --youyu-navigation: rgba(0, 0, 0, 0.95);
  --youyu-navigation-border: 1px solid #282828;

  /*login*/
  --youyu-login-background: #1a1a1a;
  --youyu-login-color: #fff;
  --youyu-login-icon-background: #282828;

  /*theme-switch*/
  --theme-switch-border: 1px solid rgba(84, 84, 84, 0.65);

  /*article*/
  --article-background: rgba(0, 0, 0, 0.6);
  --article-border: 1px solid #f1f1f1;
  --article-info-color: #F2F2F5;
  --post-detail-background: #141414;
  --post-info-background: #232323;
  --post-summary-background: #212121;

  /*pagination*/
  --pagination-background: rgba(58, 58, 58, 0.58);
  --pagination-border: 1px solid #282828;
  --pagination-text: #fff;

  /*comment*/
  --subcomment-background: rgba(45, 45, 45, 0.7);

  /*shadow*/
  --youyu-shadow1: 0 0 10px rgba(255, 255, 255, .36);
  --youyu-shadow2: 0 0 4px rgba(150, 150, 150, 0.3), 0 0 6px rgba(150, 150, 150, .1);

  /*mask*/
  --mask-background: rgba(0, 0, 0, 0.6);

  /*antd*/
  --antd-background: #141414;

  /*md-editor*/
  --editor-icon-color: #999999
}

@mixin darkGlassFilter {
  background-color: hsla(0, 0%, 6%, .6) !important;
  backdrop-filter: blur(10px) !important;
}

.dark-theme {
  .gf {
    @include darkGlassFilter;
  }

  input {
    //background-color: #171717 !important;
  }
}
