:root[theme='dark'] {
  // globe
  --youyu-body-background: rgba(26, 26, 26, 0.6);
  --youyu-body-background1: rgba(58, 58, 58, 0.58);
  --youyu-body-background2: rgba(0, 0, 0);
  --youyu-body-background3: rgba(0, 0, 0, 0.85);
  --youyu-body-background-ligth: rgb(45, 45, 45);
  --youyu-body-text: #fff;
  --youyu-body-text1: #F2F2F5;
  --youyu-border-color: #242424;
  --youyu-border: 1px solid #282828;

  // navigation
  --youyu-navigation: rgba(0, 0, 0, 0.95);
  --youyu-navigation-border: 1px solid #282828;

  // login
  --youyu-login-background: #1a1a1a;
  --youyu-login-color: #fff;

  //theme-switch
  --theme-switch-border:1px solid rgba(84, 84, 84, 0.65);

  // article
  --article-background: rgba(58, 58, 58, 0.58);
  --article-border: 1px solid #f1f1f1;
  --article-info-color: #F2F2F5;
  --post-detail-background: #000;
  --post-info-background: #232323;
  --post-summary-background: #212121;

  // pagination
  --pagination-background: rgba(58, 58, 58, 0.58);
  --pagination-border: 1px solid #282828;
  --pagination-text: #fff;

  // comment
  --subcomment-background: rgba(45, 45, 45, 0.7);
}
