:root {
  // globe
  --youyu-body-background: rgba(244, 245, 245, 0.8);
  --youyu-body-background1: rgba(255, 255, 255, 0.68);
  --youyu-body-text: #000;
  --youyu-body-text1: #909090;

  // navigation
  --youyu-navigation: rgba(255, 255, 255, 0.95);
  --youyu-navigation-border: 1px solid #f1f1f1;

  // login
  --youyu-login-background: #fff;
  --youyu-login-color: #000;

  //theme-switch
  --theme-switch-border: 1px solid #1890ff;

  // article
  --article-background: rgba(255, 255, 255, 0.68);
  --article-border: 1px solid #bfbfbf;
  --article-info-color: #666;
}
