:root {
  --youyu-background1: #fff;

  --youyu-text1: #909090;
  // globe
  --youyu-body-background: rgba(244, 245, 245, 0.4);
  --youyu-body-background1: rgba(255, 255, 255, 0.68);
  --youyu-body-background2: rgba(255, 255, 255);
  --youyu-body-background3: rgba(255, 255, 255, 0.85);
  --youyu-body-background-ligth: rgba(229, 227, 227);
  --youyu-body-text: #000;
  --youyu-body-text1: #909090;
  --youyu-body-text2: #4e5969;
  --youyu-border-color: #ebebeb;
  --youyu-border: 1px solid #f1f1f1;

  // navigation
  --youyu-navigation: rgba(255, 255, 255, 0.95);
  --youyu-navigation-border: 1px solid #f1f1f1;

  // login
  --youyu-login-background: #fff;
  --youyu-login-color: #000;

  //theme-switch
  --theme-switch-border: 1px solid #1890ff;

  // article
  --article-background: rgba(255, 255, 255, 0.68);
  --article-border: 1px solid #bfbfbf;
  --article-info-color: #666;
  --post-detail-background: #fff;
  --post-info-background: #f8f8f8;
  --post-summary-background: #dff6ff;

  // pagination
  --pagination-background: rgba(255, 255, 255, 0.68);
  --pagination-border: 1px solid #d9d9d9;
  --pagination-text: #000;

  // comment
  --subcomment-background: rgba(247, 248, 250, .7);

  // antd
  --antd-background: #fff
}
