:root {
  // globe
  --youyu-body-background: #f4f5f5;
  --youyu-body-text: #000;

  // navigation
  --youyu-navigation: #fff;
  --youyu-navigation-border: 1px solid #f1f1f1;

  // login
  --youyu-login-background: #fff;
  --youyu-login-color: #000;

}
