:root {
  --youyu-background1: #ffffff;
  --youyu-background2: #eeeeee;
  --youyu-background3: #e5e6eb;

  --youyu-text: #000000;
  --youyu-text1: #909090;
  --youyu-text2: #333333;
  /*globe*/
  --youyu-body-background: rgba(244, 245, 245, 0.4);
  --youyu-body-background1: rgba(255, 255, 255, 0.68);
  --youyu-body-background2: rgba(255, 255, 255, 1);
  --youyu-body-background3: rgba(255, 255, 255, 0.85);
  --youyu-body-background-ligth: rgba(229, 227, 227, 1);
  --youyu-body-background-4: #f7f8fa;

  --youyu-body-text: #000;
  --youyu-body-text1: #909090;
  --youyu-body-text2: #4e5969;
  --youyu-border-color: #ebebeb;
  --youyu-border-color2: #f0f0f0;
  --youyu-border-color3: #e6e6e6;
  --youyu-border: 1px solid #f1f1f1;
  --youyu-border2: 1px solid #f0f0f0;

  /*navigation*/
  --youyu-navigation: rgba(255, 255, 255, 0.98);
  --youyu-navigation-border: 1px solid #3c3c3c1f;

  /*login*/
  --youyu-login-background: #fff;
  --youyu-login-color: #000;
  --youyu-login-icon-background: #eaf2ff;

  /*theme-switch*/
  --theme-switch-border: 1px solid #1890ff;

  /*article*/
  --article-background: rgba(255, 255, 255, 0.68);
  --article-border: 1px solid #bfbfbf;
  --article-info-color: #666;
  --post-detail-background: #fff;
  --post-info-background: #f8f8f8;
  --post-summary-background: #dff6ff;

  /*pagination*/
  --pagination-background: rgba(255, 255, 255, 0.68);
  --pagination-border: 1px solid #d9d9d9;
  --pagination-text: #000;

  /*comment*/
  --subcomment-background: rgba(247, 248, 250, .7);

  /*shadow*/
  --youyu-shadow1: 0 0 10px rgba(0, 0, 0, .36);

  /*antd*/
  --antd-background: #fff;

  /*md-editor*/
  --editor-icon-color: #3F4A54
}
