html, body {
  position: relative;
  margin: 0;
  font-family: "PingFang SC", 'PingFangSC-Regular-woff2';
  font-size: 15px;
  line-height: 1.6;
  color: var(--youyu-body-text) !important;
  background-color: transparent !important;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #e6dece !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0;
  background-size: cover;
}

body {
  //background-image: url("/static/images/background/bg.png");
  background-image: url("https://youyu-source.oss-cn-beijing.aliyuncs.com/youyu/background/gaoqi_hangpai.jpg?x-oss-process=style/blur");
  background-attachment: fixed;
  background-size: cover;
}

* {
  box-sizing: border-box;
  transition: background-color .3s, border .3s;
}

a {
  text-decoration: none;
}

.router-link-active {
  color: #1890ff !important;
  //font-weight: bold;
  .i-icon {
    color: #1890ff !important;
  }
}

.router-link-exact-active {
  color: #1890ff !important;
  //font-weight: bold;
  .i-icon {
    color: #1890ff !important;
  }
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-8 {
  margin-top: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.ml-8 {
  margin-left: 8px;
}

.no-data {
  width: 100%;
  text-align: center;
}

.text-limit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cp {
  cursor: pointer;
}

.tc {
  text-align: center;
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.no-data {
  text-align: center;

  /* font-size: 16px; */
}

.i-icon-loading-four {
  animation: rotate .6s infinite linear;
}

.ant-card-head {
  /* position: sticky; */

  /* top: 60px; */

  /* background-color: var(--youyu-background1) !important; */
  font-weight: bold !important;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

.global-spin {
  position: fixed !important;
  inset: 0;
  z-index: 99999;
  display: flex !important;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  background-color: var(--mask-background);

  &.animate__fadeIn {
    --animate-duration: 400ms;
    --animate-delay: 0s;
  }

  &.animate__fadeOut {
    --animate-duration: 400ms;
    --animate-delay: 0s;
  }

  .ant-spin-text {
    font-size: 16px;
  }
}

.ant-message {
  z-index: 999999 !important;
}

.ant-popover-inner {
  //padding: 0 !important;
}

.ant-card {
  border-radius: 4px !important;
}

.filled-input {
  font-size: 14px !important;
  color: var(--youyu-text7) !important;
  background-color: var(--youyu-background5) !important;
  border-color: var(--youyu-background5) !important;
  border-radius: 4px !important;
  outline: none !important;
  box-shadow: none !important;

  .ant-input {
    background-color: transparent !important;
  }
}

.fullscreen-mask {
  background: rgb(0, 0, 0, .3) !important;
  backdrop-filter: blur(12px) !important;
}

.icon {
  width: 1em;
  height: 1em;
  overflow: hidden;
  vertical-align: -0.15em;
  fill: currentcolor;
}

.no-padding {
  float: left;
  width: 20px;
  padding: 0 !important;
}

.br-2 {
  border-radius: 2px;
}
