@import "tailwindcss";

* {
  font-family: 'PingFangSC-Regular-woff2';
}

#app {
  height: 100vh;
}

.cp {
  cursor: pointer;
}

.language-switch-dropdown {
  ul {
    li {
      padding: 6px 16px !important;
      text-align: center;
    }
  }
}

.manage-header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 20px 0 8px;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);

  .header-left {
    display: flex;
    align-items: center;

    .anticon {
      font-size: 16px;
      color: var(--text-color-icon);

      &.anticon-menu, &.anticon-reload {
        padding: 6px;
        margin: 0 4px;
        font-size: 15px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: var(--bg-btn-hover);
          transition: .3s;
        }
      }
    }
  }

  .header-right {
    display: flex;
    align-items: center;

    > div {
      margin-left: 8px;
    }

    .theme-switch {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      font-size: 18px;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: var(--bg-btn-hover);
        transition: .3s;
      }
    }

    .header-avatar {
      width: 32px;
      height: 32px;
      margin-left: 8px;
      object-fit: cover;
      border: 1px solid var(--border-color);
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.react-table {
  height: 100%;

  .table-row-even {
    background-color: var(--bg-table-row-even); /* 偶数行背景色 */
  }

  .table-row-odd {
    background-color: var(--bg-table-row-odd); /* 奇数行背景色 */
  }

  .ant-table-wrapper {
    max-height: 100%;

    .ant-table-container, .ant-table-content {
      max-height: 100%;

      .ant-table-tbody {
        background-color: var(--bg-color);

        .ant-tag {
          margin: 0;
        }
      }
    }

    .ant-pagination {
      position: sticky;
      padding: 16px;
      margin: 0 !important;
      background-color: var(--bg-color);
    }
  }
}

@keyframes l5 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%
  }

  33% {
    width: 60px;
    height: 60px;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%
  }

  66% {
    width: 60px;
    height: 60px;
    background-position: 100% 0, 100% 100%, 0 100%, 0 0
  }

  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0
  }
}

.app-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.loader {
  --c: no-repeat linear-gradient(#1890ff 0 0);

  width: 40px;
  height: 40px;
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 21px 21px;
  animation: l5 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

.app-error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.header-breadcrumbs {
  margin-left: 6px;

  li {
    span {
      margin-right: 6px;
    }
  }
}

.component-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sub-view-wrapper {
  height: 100%;
}

.header-search {
  padding: 22px 22px 0;
  margin-bottom: 12px;
  background-color: var(--bg-color);

  .ant-form-item-additional {
    height: 0;
  }

  .ant-form {
    .ant-form-item {
      margin-bottom: 24px;

      .ant-form-item-label {
        width: 85px;
      }

      .ant-form-item-control {
        width: 245px;
      }
    }

    .ant-tree-select {
      .ant-select-selection-wrap {
        height: 28px;
        overflow: auto;
      }
    }
  }
}

.flex-view {
  display: flex;
  flex-direction: column;
  height: 100%;

  > div {
    &:last-child {
      flex: 1;
      overflow: auto;
    }
  }
}

.date-item-bt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 8px 24px;
  margin-bottom: 8px;
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow); /* 内阴影效果 */

  .data-item-bt-title {
    font-size: 14px;
    font-weight: bold;
  }

  .data-item-bt-value {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color-gray);
  }
}

/* 覆盖 */
.ant-spin-nested-loading, .ant-spin-container {
  width: 100%;
  height: 100%;

  > div {
    width: 100%;
    height: 100%;
  }
}

.ant-spin {
  max-height: none !important;
}

.ant-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-sm) !important;

  .ant-card-body {
    padding: 18px !important;
    overflow: auto;
  }
}

.ant-select-tree-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}
