* {
    padding: 0;
    margin: 0;
}

#app {
    height: 100vh;

    .app-menu {
        display: flex;
        flex-direction: column;
        width: 256px;
        height: 100%;
    }

    .ant-menu {
        flex: 1;
        overflow: auto;
    }
}
