@import "./base.css";
@import "./css/aside/aside.scss";

$headerHeight: 60px;

.fixed {
  position: fixed;
}

.z-20 {
  z-index: 20;
}

html {
  font-family: -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial !important;
  font-size: 12px;
}

.ant-card-self {
  .ant-card-head-title {
    font-size: 18px;
    font-weight: bold;
  }
}

.large-font {
  font-size: 18px;
  font-weight: bold;
}

.md-editor-catalog {
  .md-editor-catalog-link {
    > span {
      &:hover {
        color: #1890ff !important;
      }
    }
  }

  .md-editor-catalog-active {
    > span {
      color: #1890ff !important;
      font-weight: 700 !important;
    }
  }
}

.scrolling-effect-scroll {
  overflow: hidden;
  width: calc(100% - 17px);
}

.scrolling-effect-noscroll {
  overflow: hidden;
}

