.main-container {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }

  .main-menu {
    display: flex;
    flex-direction: column;
    padding: 6px;
    background: var(--bg-color);
    border-right: 1px solid var(--border-color);

    .ant-menu {
      background: transparent;
    }

    .ant-menu-root {
      flex: 1;
      overflow: auto;
      border: none;
      user-select: none;

      .ant-menu-sub {
        background: none;

        .ant-menu-item-selected {
          background: rgb(24 144 255 / 26%);
        }
      }

      &.ant-menu-inline-collapsed {
        width: 70px !important;
      }
    }
  }

  .view-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    color: var(--text-color);

    .view-content {
      flex: 1;
      padding: 12px;
      overflow: auto;
      background-color: var(--bg-color-view);
    }
  }
}
